<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CS위키 게시판</title>
    </head>
    <body>
        <header>
            <h2>글 수정</h2>
        </header>
        <main>
            <div id="write_section">
                <form>
                    제목<input type="textbox" id="title">
                    <br>
                    내용<input type="textbox" id="content">
                    <button type="submit">등록</button>
                </form>
            </div>
            
        </main>
        <footer></footer>
    </body>
</html>